<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<app-sidebar></app-sidebar>

<!-- End Header -->

<!-- ======= Hero Section ======= -->
<app-hero-section></app-hero-section>
<!-- End Hero -->

<main id="main">
<!--  <router-outlet></router-outlet>-->
  <!-- ======= About, Facts and skills Section ======= -->
  <app-about></app-about>
  <!-- End About, Facts and Skills  Section -->
  <!-- ======= Resume Section ======= -->
  <app-resume></app-resume>
  <!-- End Resume Section -->
  <!-- ======= Portfolio Section ======= -->
  <app-portfolio></app-portfolio>
  <!-- End Portfolio Section -->

  <!-- ======= Services Section ======= -->
<app-services></app-services>
  <!-- End Services Section -->

  <!-- ======= Testimonials Section ======= -->
<app-testimonials></app-testimonials>
  <!-- End Testimonials Section -->

  <!-- ======= Contact Section ======= -->
<app-contact></app-contact>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End  Footer -->

<a
  href="#"
  class="back-to-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i
></a>


